<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Summarizer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="p-4 text-center">
            <h4 class="text-success">Input Text</h4>
            <form id="form" action="/" method="POST">
              <textarea
                rows="18"
                class="form-control border border-success"
                required
                id="input_text"
                name="input_text"
              >
{{input_text}}</textarea
              >
              <div class="buttons">
                <button type="submit" class="btn btn-success m-3">
                  Summarize
                </button>
                <button
                  id="input_clear_button"
                  type="button"
                  class="btn btn-danger m-3"
                >
                  Clear
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-6">
          <div class="p-4 text-center">
            <h4 class="text-danger">Summarized Text</h4>
            <textarea
              rows="18"
              class="form-control border border-danger"
              id="summarized_text"
            >
{{ summary }}</textarea
            >
            <button
              id="summarized_clear_button"
              type="button"
              class="btn btn-danger m-3"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("input_clear_button")
        .addEventListener("click", () => {
          document.getElementById("input_text").innerHTML = "";      
          document.getElementById("input_text").value = "";       
        });
      document
        .getElementById("summarized_clear_button")
        .addEventListener("click", () => {
          document.getElementById("summarized_text").innerHTML = "";
        });
    </script>
  </body>
</html>
